<div class="container">
  <div class="row">
    <div class="twelve columns">
      <div class="card">
        <header>
          <h1>Erik Pearson</h1>
        </header>

        <ul style="list-style-type: none;">
          <li>
            CTO <a href="https://occupier.com" target="_blank">@"@"occupier</a>
          </li>
          <li>Brooklyn, NY</li>
        </ul>

        <a class="social-link" href="https://github.com/emp823" target="_blank">
          <img height="24px" width="24px" src="/github.svg" />
        </a>

        <a
          class="social-link"
          href="https://www.linkedin.com/in/erik-pearson-50009951"
          target="_blank"
        >
          <img height="24px" width="24px" src="/linkedin.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
